@model OnlineTest.Models.Question

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>

<form asp-action="Create">
    <div class="form-horizontal">
        <h4>Question</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Questionn" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Questionn" class="form-control" />
                <span asp-validation-for="Questionn" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="CorrectAnswer" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="CorrectAnswer" class="form-control" />
                <span asp-validation-for="CorrectAnswer" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Screenshot" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Screenshot" class="form-control" />
                <span asp-validation-for="Screenshot" class="text-danger"></span>
            </div>
        </div>
       
        <div class="form-group">
            <label asp-for="Expectedtime" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Expectedtime" class="form-control" />
                <span asp-validation-for="Expectedtime" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Score" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Score" class="form-control" />
                <span asp-validation-for="Score" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
